* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --cor-primaria: #1a5f7a;
  --cor-secundaria: #57c5b6;
  --cor-terciaria: #159895;
  --cor-texto: #333333;
  --cor-fundo: #f9f9f9;
  --cor-destaque: #ff7b54;
  --fonte-titulos: "Poppins", sans-serif;
  --fonte-texto: "Open Sans", sans-serif;
}

body {
  font-family: var(--fonte-texto);
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: var(--cor-primaria);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  text-transform: uppercase;
  width: 100%;
}

.logo {
  height: 50px;
  border-radius: 50%;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  /* Adicionado */
  transition: color 0.3s;
}

.menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: -5px;
  /* Pequeno espaço abaixo do texto */
  left: 0;
  background-color: var(--cor-secundaria);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu a:hover {
  color: var(--cor-secundaria);
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SLIDER */
.slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 300%;
  height: 600px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 33.33%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 600px;
}

.manual__navegacao {
  position: absolute;
  width: 100%;
  margin-top: -45px;
  display: flex;
  justify-content: center;
}

.manual__btn {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 10;
}

.manual__btn:not(:last-child) {
  margin-right: 40px;
}

.manual__btn:hover {
  background-color: #fff;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -33.33%;
}

#radio3:checked~.first {
  margin-left: -66.66%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 690px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.titulo__apresentacao {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--fonte-texto);
  font-weight: 800;
  font-size: 48px;
  z-index: 3;
  margin: 0 4em;
}

/* FIM SLIDER */
.secao {
  padding: 80px 0;
  border-bottom: 1px solid #e1e1e1;
}

.primeira {
  margin: -20px 0 0 0;
}

.secao .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.conteudo {
  flex: 1;
  align-items: center;
  text-align: justify;
  margin-inline: 25px;
}

h1,
h2 {
  font-family: var(--fonte-titulos);
  color: var(--cor-primaria);
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 15px;
  max-width: 100%;
}

.imagem-secao {
  flex: 1;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#quiz {
  text-align: center;
}

.quiz__texto {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.botao__quiz {
  background-color: #007b8a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
}

.botao__quiz:hover {
  background-color: #005f6a;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--cor-primaria);
  color: white;
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

#campoRegiao {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

#btnRegiao {
  max-width: 400px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #028191;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #ffffff;
  border: none;
  text-align: center;
}

#btnRegiao:hover {
  background-color: #036e7a;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#escolhaRegiao {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#escolhaRegiao h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

#escolhaRegiao h3 {
  font-size: 24px;
}

#regiaoValor {
  text-align: center;
  border-radius: 5px;
  height: 35px;
  font-size: 20px;
  color: var(--cor-texto);
  margin-top: 10px;
  cursor: pointer;
  color: rgb(45, 45, 45);
}

#regiaoEnchente {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 0px 20px;
  padding: 35px 30px;
  background-color: var(--cor-secundaria);
  border-radius: 10px;
  box-shadow: 10px 14px 14px rgba(0, 0, 0, 0.1);
}

#regiaoEnchente h1 {
  max-width: 80vw;
  font-size: 50px;
  color: var(--cor-primaria);
}

#regiaoEnchente h3 {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 30px;
}

.textImg {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}

#regiaoEnchente h4 {
  max-width: 45vw;
  font-size: 16px;
  margin-left: 30px;
  flex-wrap: wrap;
}

#regiaoEnchente img {
  max-width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.saida {
  font-size: 60px;
}

.saida .btnSaida {
  background-color: var(--cor-secundaria);
  border: var(--cor-secundaria);
  cursor: pointer;
}



/* CABECALHO MOBILE */

.cabecalho__mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-primaria);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}


.btn__abrir__menu i {
  margin: 0 30px;
  font-size: 40px;
  color: #fff;
  z-index: 1000;
}

.logotipo__mobile {
  margin: 0 30px;
  width: 65px;
  height: auto;
  border-radius: 50%;
}

/* ESTILO MENU MOBILE */
.menu__mobile {
  background-color: var(--cor-primaria);
  width: 100%;
  max-height: 0;
  position: fixed;
  top: 5.5rem;
  left: 0;
  z-index: 999;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  display: block;

}

.menu__mobile.abrir__menu {
  max-height: 500px;
  overflow-y: auto;
}

.menu__mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.menu__mobile li {
  margin: 20px 0;
}

.menu__mobile a {
  color: white;
  text-decoration: none;
  font-family: var(--fonte-texto);
  font-size: 1.5rem;
  display: block;
  width: 100%;
  padding-left: 0px;
}

.menu__mobile.abrir__menu~.overlay__menu {
  opacity: 1;
  visibility: visible;
}


.overlay__menu {
  background-color: #000000d1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 888;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/*Comeco botao de cores*/
.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
}

.dark-mode-toggle img {
  height: 30px;
  width: auto;
}

body.dark-mode {
  --cor-texto: #f9f9f9;
  --cor-fundo: #333333;
  --cor-primaria: #4a4a4a;
  --cor-secundaria: #80cbc4;
  --cor-terciaria: #4db6ac;
}

body.dark-mode header {
  background-color: var(--cor-primaria);
}

body.dark-mode h1,
body.dark-mode h2 {
  color: var(--cor-secundaria);
}

body.dark-mode .secao {
  border-bottom: 1px solid #555;
}

body.dark-mode footer {
  background-color: var(--cor-primaria);
}

/* Modo eclipse */
body.eclipse-mode {
  --cor-texto: #e0f7fa;
  --cor-fundo: #263238;
  --cor-primaria: #37474f;
  --cor-secundaria: #a7ffeb;
  --cor-terciaria: #64ffda;
  --cor-destaque: #ffab91;
}

body.eclipse-mode header {
  background-color: var(--cor-primaria);
}

body.eclipse-mode h1,
body.eclipse-mode h2 {
  color: var(--cor-secundaria);
}

body.eclipse-mode .secao {
  border-bottom: 1px solid #455a64;
}

body.eclipse-mode footer {
  background-color: var(--cor-primaria);
}

/* fim da mudanca de cores */

/* Responsividade */
@media (max-width: 1000px) {
  .secao .container {
    flex-direction: column;
    text-align: center;
  }

  .secao:nth-child(even) .container {
    flex-direction: column;
  }

  .imagem-secao {
    max-width: 100%;
    margin-top: 30px;
  }

  /* HEADER */
  header:not(.cabecalho__mobile) {
    display: none;
  }

  .cabecalho__mobile {
    display: flex;
  }

  .container {
    width: 88%;
    /* 100% - 6% dos dois lados = 88% */
    margin: 0 auto;
    /* centraliza */
    padding: 0;
  }

  .overlay {
    height: 600px;
  }

  /* MAIN */
  .background {
    height: calc(70vh - 90px);
  }

  .background::before {
    height: calc(70vh - 90px);
  }

  .titulo__apresentacao {
    font-weight: 700;
    font-size: 30px;
    margin: 0px 8%;
  }

  #imagem__enchente {
    display: none;
  }

  /* PAGINA QUIZ */
  .quiz__texto {
    font-size: 1.5rem;
    margin-inline: 6%;
  }
  .menu__mobile .dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
    
    .menu__mobile .dark-mode-toggle img {
    height: 30px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}