* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --cor-primaria: #1a5f7a;
  --cor-secundaria: #57c5b6;
  --cor-terciaria: #159895;
  --cor-texto: #333333;
  --cor-fundo: #f9f9f9;
  --cor-destaque: #ff7b54;
  --fonte-titulos: "Poppins", sans-serif;
  --fonte-texto: "Open Sans", sans-serif;
}

body {
  font-family: var(--fonte-texto);
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: var(--cor-primaria);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  text-transform: uppercase;
}

.logo {
  height: 50px;
  border-radius: 50%;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  /* Adicionado */
  transition: color 0.3s;
}

.menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: -5px;
  /* Pequeno espaço abaixo do texto */
  left: 0;
  background-color: var(--cor-secundaria);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu a:hover {
  color: var(--cor-secundaria);
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background {
  position: relative;
  background-image: url(/src/assets/images/backgroundSustentavel.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  /* Subtrai o header */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 90px); /* Subtrai o header */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* preto com 30% de transparência */
  z-index: 1;
}

.titulo__apresentacao{
  color: #fff;
  text-transform: uppercase;
  font-family: var(--fonte-texto);
  font-weight: 800;
  font-size: 48px;
  z-index: 3;
  margin: 0 4em;
}

.secao {
  padding: 80px 0;
  border-bottom: 1px solid #e1e1e1;
}

.secao .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.conteudo {
  flex: 1;
  align-items: center;
  text-align: justify;
  margin-inline: 25px;
}

h1,
h2 {
  font-family: var(--fonte-titulos);
  color: var(--cor-primaria);
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 15px;
  max-width: 100%;
}

.imagem-secao {
  flex: 1;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#quiz {
  text-align: center;
}

.quiz__texto {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.botao__quiz {
  background-color: #007b8a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
}

.botao__quiz:hover {
  background-color: #005f6a;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--cor-primaria);
  color: white;
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

#campoRegiao {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

#btnRegiao {
  max-width: 400px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #028191;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #ffffff;
  border: none;
  text-align: center;
}

#btnRegiao:hover {
  background-color: #036e7a;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#escolhaRegiao {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#escolhaRegiao h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

#escolhaRegiao h3 {
  font-size: 24px;
}

#regiaoValor {
  text-align: center;
  border-radius: 5px;
  height: 35px;
  font-size: 20px;
  color: var(--cor-texto);
  margin-top: 10px;
  cursor: pointer;
}

#regiaoEnchente {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 0px 20px;
  padding: 35px 30px;
  background-color: var(--cor-secundaria);
  border-radius: 10px;
  box-shadow: 10px 14px 14px rgba(0, 0, 0, 0.1);
}

#regiaoEnchente h1 {
  max-width: 80vw;
  font-size: 50px;
  color: var(--cor-primaria);
}

#regiaoEnchente h3 {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 30px;
}

.textImg {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}

#regiaoEnchente h4 {
  max-width: 45vw;
  font-size: 16px;
  margin-left: 30px;
  flex-wrap: wrap;
}

#regiaoEnchente img {
  max-width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.saida {
  font-size: 60px;
}

.saida .btnSaida {
  background-color: var(--cor-secundaria);
  border: var(--cor-secundaria);
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .secao .container {
    flex-direction: column;
  }

  .secao:nth-child(even) .container {
    flex-direction: column;
  }

  .imagem-secao {
    max-width: 100%;
    margin-top: 30px;
  }

  .menu {
    gap: 15px;
  }
}